@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* navy , blue , sea , sky */
  --main-Color:#F65D6F; 
  --second-Color:#E0EDF4;
  --thired-Color:#F0EDD8;
  --fourth-Color:#2A234D;
  --fifth-Color:#F6EDFC;

  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
